<h1> Add A New Director </h1>

<form action="http://localhost:3000/update_actor/:id">

  <label> Name</label>
  <input type="string" name="name">

  <label> Bio</label>
  <input type="text" name="bio">

  <label> Date of Birth</label>
  <input type="string" name="dob">

  <label> URL</label>
  <input type="string" name="image_url">


  <button> Create Actor </button>
</form>

<a href=" /actors"> Go Back</a>
