<h1> Actor Details</h1>

<img src="<%= @actor_url %>" width="480">

<p> <%= @actor_name%> </p>

<a href="http://localhost:3000/actors">Back</a>
<a href="http://localhost:3000/actors/<%=@actor %>/edit">Edit</a>
<a href="http://localhost:3000/delete_actor/<%=@actor %>">Delete</a>
