<h1> Movie Details</h1>

<img src="<%= @movie_url %>" width="480">

<p> <%= @movie_title%> </p>

<a href="http://localhost:3000/movies">Back</a>
<a href="http://localhost:3000/movies/<%=@movie %>/edit">Edit</a>
<a href="http://localhost:3000/delete_movie/<%=@movie %>">Delete</a>
