<h1> Director Details</h1>

<img src="<%= @director_url %>" width="480">

<p> <%= @director_name%> </p>

<a href="http://localhost:3000/directors">Back</a>
<a href="http://localhost:3000/directors/<%=@director %>/edit">Edit</a>
<a href="http://localhost:3000/delete_director/<%=@director %>">Delete</a>
